body {
    margin: 0;
    padding: 0;
}
/* utility */
.container-card{
    background-color: var(--color-contrast);
    padding: 100px;
}
.margin-bottom{
    margin-bottom: 50px;
}
:root {
    --color-header: #0084fd;
    --color-odd-bg: #ffffff;
    --color-even-bg: #9792e4;
    --color-contrast: #b5ddff;
    --color-footer-bg: #333333;
    --color-color-h1: #fdc15f;
    --color-color-gray:#4F606F;
}
h2{
    font-size: 90px;
}
p{
    font-size: 70px;
}
/* navbar e hamburgher menu */
.navbar {
    background-color: #0084FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    color: #fff;
    font-size: 96px; 
    font-weight: bold; 
}
.menu-toggle {
    cursor: pointer;
    padding: 40px;
}
.hamburger {
    width: 120px; 
    height: 12px;
    background-color: #fff;
    position: relative;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 120px; 
    height: 12px; 
    background-color: #fff;
}
.hamburger::before {
    top: -28px;
}
.hamburger::after {
    top: 28px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}
/* section 1 */
.app-store {
    background-color: #0084FD;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: flex; 
    align-items: center;
}
.app-store i {
    margin-right: 10px;
}
.image-container {
    border-radius: 50px; 
    background-color: #B5DDFF;
    padding: 20px 20px 20px 20px; 
}
.image-container img {
    width: 100%; 
    display: block; 
}
.img-100{
    text-align: center;
}
.s-one-h2{
    color: var(--color-header);
}
.s-one-p{
    color: var(--color-color-gray);
}
/* section 1 (seconda card) */

